{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}

{% block content %}
 <main class="main">
        <div id="main-content" class="container mb-10">
            <h1 class="title">About</h1>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laboriosam iure temporibus nemo necessitatibus dolor obcaecati, fuga praesentium, ratione, delectus saepe officiis enim eaque corporis impedit culpa hic ex maxime.</p>
        </div>
    </main>
{% endblock %}